<h1 align="center">Listing all articles</h1>

<% @articles.each do |article| %>
<div class="card bg-light w-75 offset-2">
  <div class="card-body">
  <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%=h truncate(article.description, :length => 80) %></p>
      <%= link_to("Show this article", articles_path(article), class: "btn btn-sm btn-primary") %>
  </div>
</div>
<br />
<% end %>



