<h1 align="center">About<h2>

<div class="container">
  <p class="lead">
  I am a software developer with robust problem-solving skills and proven experience in creating and designing software in a test-driven environment.
  </p>
</div>

