<h1 align="center">About<h2>

<div class="container">
  <p class="lead">
  I am a software developer with robust problem-solving skills and 
  proven experience in creating and designing software in a test-driven environment.
  Further, experienced in languages like <strong>Python</strong>, <strong>Java</strong>, <strong>C#</strong>, <strong>C++</strong>,
  <strong>R</strong>, <strong>Ruby</strong>, <strong>PHP</strong>.
  Also, experienced in frameworks like <strong>Ruby on Rails</strong>, <strong>Django</strong>, <strong>Laravel</strong>, <strong>ASP.NET Core</strong> and <strong>Flutter</strong>.
  </p>
</div>

