<h1 align="center">About<h2>

<div class="container">
  <p class="lead">
  Currently, exploring Rust, working on Concurrency & Microservices in Golang, building RESTful Web APIs with Django REST framework, and pursuing Qubit by Qubit’s Introduction to Quantum Computing. My future goals include applying blockchain technology in cybersecurity, working on distributed computing, concurrent computing.
  I am a software engineer with robust problem-solving skills and 
  proven experience in creating and designing software in a test-driven environment.
  Mostly work with <strong>Ruby on Rails</strong>, <strong>ASP.Net Core</strong>, <strong>Django</strong>, <strong>Django Rest framework</strong>, 
  <strong>Spring Boot</strong> and <strong>iOS</strong>.
  I am regularly solving problems with <strong>C++</strong>
  <strong>Swift</strong>, <strong>Python</strong>, <strong>Ruby</strong>, <strong>Golang</strong>.
  Currently, exploring Rust, working on Concurrency & Microservices in Golang, building RESTful Web APIs with Django REST framework, and pursuing Qubit by Qubit’s Introduction to Quantum Computing. My future goals include applying blockchain technology in cybersecurity, working on distributed computing, concurrent computing.
  </p>
</div>

