<div class="center jumbotron">
  <h1>WELCOME FROM ZUBAYEAR</h1>
  <%= link_to("Read all articles", articles_path, class: "btn btn-outline-dark") %>
  <%= link_to("Show all projects", projects_path, class: "btn btn-outline-dark") %>
</div>